
#Database config file
DB_HOST = "localhost"
DB_DATABASE = "test"
DB_USERNAME = "root"
DB_PASSWORD = ""



#for developement, send dummy otp or other things
IS_DEVELOPMENT_MODE = "yes"
DUMMY_DEFAULT_OTP = "123456"
DUMMY_DEFAULT_RESEND_OTP = "654321"

OTP_EXPIRY_DURATION_MINUTES = "10"



#enable attribute routing and controller path for tha

ENABLE_ATTRIBUTE_ROUTING = true
CONTROLLER_PATH = "app/Controllers/"



#wheter to render header/footer by default
RENDER_LAYOUTS_BY_DEFAULT = true

#header,footer default path.
HEADER_LAYOUT_PATH = "layouts/header"
FOOTER_LAYOUT_PATH = "layouts/footer"


#views folder location for render
VIEWS_DIR = "app/views/"

#Image type supported for uploading images
ALLOWED_IMAGE_EXTENSIONS = "jpg,jpeg,png,webp"

#folder to save the image
IMAGE_UPLOAD_DIRECTORY = "public/uploads/"

# DEFAULT_REDIRECT_IF_NOT_AUTH = "/login"
