body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Choose a web-safe font */
    background-color: #f4f4f4;
    /* Set a light background color */

}

.bg {
    /* the image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/images/heroimagee.jpg");
    /* background-color: #ffc107; */
    /* Use a warm background color */

    /* full height */
    /* height: 80%;
    width:100%
    padding: 20px 30px; */


    /* Center and scale the image nicely */
    /* background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */
    /* display: flex; */
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0 20px;
    width: 100%;
}

.hero-text h1 {
    font-size: 4vw;
    margin-bottom: 0;
}

.hero-text h2 {
    font-size: 3.5vw;
    margin: 0;
}

.hero-text h3 {
    margin-top: 10px;
    font-size: 3vw;
    color: #5cb85c;
}




.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    flex-wrap: wrap;
}

.form-container input[type=text],
.form-container select {
    border: 1px solid #5cb85c;
    box-shadow: 0 0 0 1px #5cb85c;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    margin: 10px;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    width: 100px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.form-container button:hover {
    background-color: #4cae4c;
    transform: scale(1.10);
}

@media (max-width: 768px) {
    .bg {
        /* the image used */
      height: 50vh;

    }

    .hero-text h1 {
        font-size: 6vw;
    }

    .hero-text h2 {
        font-size: 5.5vw;
    }

    .hero-text h3 {
     font-size: 5vw;
}
.form-container {
    flex-direction: column;
}

.form-container input[type=text],
.form-container select,
.form-container button {
    width: 80%;
}
}




.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: whitesmoke;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    width: 300px;
    margin: 35px;
    text-align: center;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    transform: scale(1.1);
  }

  .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid green;
  }

  .property-info {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: chocolate;
    color: blueviolet;
  }

  .label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  .available {
    background-color: green;
    color: white;
  }

  .booked {
    background-color: red;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }

    .card {
      width: 100%;
      margin: 20px 0;
    }

    .image {
      height: 150px;
    }
  }

  @media screen and (max-width: 480px) {
    .card {
      margin: 15px 0;
      border-width: 5px;
    }

    .image {
      height: 120px;
    }

    .label {
      font-size: 1.2rem;
      padding: 10px;
    }

    .btn {
      padding: 8px;
      font-size: 0.9rem;
    }
  }
